.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(247, 240, 250);
    padding: 20px; 
}

h1 {
    margin-bottom: 20px; 
}

.book-entry {
    margin: 10px 0; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; 
    width: 100%;
    max-width: 400px; 
}
